<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %>
    </head>
    <body class="bg-light">
        <div class="container">
            <button class="btn btn-danger" href="/logout" onClick='document.location.href="/logout"'>
              Logout
            </button>
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        On se retrouve sur l'url /metrics !
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>