<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %>
    </head>
    <body>
        <div class="container">
            On se retrouve sur l'url /hello/xxx !
            Entrez votre nom dans l'url pour que je vous dise bonjour, sinon mettez le mien (Alexandre) pour avoir des infos sur moi
        </div>
    </body>
</html>