<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %>
    </head>
    <body class="bg-light">
        <div class="container">
            <form action="/metrics" method="post">
                <input type=text name="timestamp" />
                <input type=number name="value" />
                <button type=submit>add</button>
            </form>
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h1>Data</h1>
                    </div>
                    <div class="card-text">
                        <% if (data) { %>
                            <ul>
                                <% data.forEach(d => { %>
                                    <li>
                                        <form onsubmit="sendDelete('<%= d.key %>')">
                                            key: <%= d.key %> <br />
                                            value: <%= d.value %> <br />
                                            <button type="submit">delete</button>
                                        </form> 
                                    </li>
                                <% }) %>
                            </ul>
                        <% } else { %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <svg width='500' height='400' style="overflow : visible; padding-top: 400px"></svg>
        </div>
        <script>
            function sendDelete(key){
                //event.preventDefault();
                var body = {
                    'key': key
                }
                var xhttp = new XMLHttpRequest();
                xhttp.open("DELETE", '/metrics', true);
                xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                xhttp.send(JSON.stringify(body));
            }
        </script>
        <!-- script>

            var cdata = <%- JSON.stringify(data) %>
            var adata = []
            cdata.forEach(d => {
                adata.push(d.value)
            })
            console.log(adata)

            var barWidth = 70;
            var bar = d3.select('svg')
                      .selectAll('rect')
                      .data(adata)
                      .enter()
                      .append('rect')
                      .attr('width', barWidth - 1)
                      .attr('height', function(d) {  return d*15; })
                      .attr('transform', function(d, i) {
                        return "translate(" + i * barWidth + ", 0) rotate(180)";
                      });

        </script -->

    </body>
</html>